body
    background-color: black
    section
        height: 900px
        .prenom
            font-size: 55px
        .propositions
            a
                color: white
                text-decoration: none