// alignement
.flex 
    display: flex
.row
    flex-direction: row
.column
    flex-direction: column
.justify
    justify-content: center
.align
    align-items: center
.column
    flex-direction: column



// style

    // taille
.size20
    font-size: 20px
.size35
    font-size:35px
.size55
    font-size: 55px
    // police
.inconsolata
    font-family: Incosolata
.angelica
    font-family: angelica
    // couleurs
.blanc
    color: white    
.bgblack
    background-color: black
.bgjaune
    background-color: rgb(227, 169, 43)
.jaune
    color : $jaune
.transparent
    background-color: #1fe0

// espaces
.margin10
    margin:10px
.padding10
    padding:10px
.padding70
    padding: 70px
    
// cube
.face
    position: absolute
    width: 200px
    height: 200px
// boutons
button
    padding-right: 20px
    padding-left: 20px
    position: relative
    border-radius: 60px
    background: linear-gradient(rgb(231, 235, 186), rgb(211, 168, 74),rgb(227, 169, 43))
    border: none
    &:focus
        outline: none

    