.bodypropos
    background-color: white
    color: black
    .headerpropos
        color: black
        // .nav
        //     .collapse
        //             .transparent

        //     .navbar

    .sectionpropos
        .photo
            #imageContainer
                height: 600px
                width: 500px
                position: relative
                img
                    height: 100%
                    width:100%
                .transitionImage
                    position: absolute
                    top: 0
                    left: 0
                    opacity: 0
                    transition: opacity 0.5s ease
                    &:hover
                        opacity: 1
        .presentation
            color: black
            #nom
                font-weight: bold
            #dev
                color: $jaune2
            #languages
                font-weight: bold
        .reseaux
            ul
                a
                    text-decoration: none
                    color: $jaune
            .buttonCv
                margin-left: 255px
                height: 60px
                width: 200px
                position: relative
                .spanButton
                    position: absolute
                    background: #ffffff
                    transform: translate(-50%, -50%)
                    pointer-events: none
                    border-radius: 50%
                    animation: animate 1s linear infinite
                    @keyframes animate
                        0%
                            width: 0px
                            height: 0px
                            opacity: 0.5
                        100%
                            width: 200px
                            height: 200px
                            opacity: 0
    .sectionCube
        .passions
            background-color: $beige
        .container
            width: 200px
            height: 200px
            perspective: 1000px
            margin: 100px auto 0
            .cube
                width: 100%
                height: 100%
                position: relative
                transform-style: preserve-3d
                animation: spin 20s infinite linear
                .top
                    background-color: $jaune2
                    transform: rotateX(90deg) translateZ(100px)
                .bottom
                    background-color: $jaune
                    transform: rotateX(-90deg) translateZ(100px)
                .right
                    background-color: $vert2
                    transform: rotateY(90deg) translateZ(100px)
                .left
                    background-color: $vert1
                    transform: rotateY(-90deg) translateZ(100px)
                .front
                    background-color: $jaune
                    transform: rotateX(0deg) translateZ(100px)
                .back
                    background-color: $vert2
                    transform: rotateX(-180deg) translateZ(100px)
                @keyframes spin
                    from
                        transform: rotateX(0deg) rotateY(0deg)
                    to
                        transform: rotateX(360deg) rotateY(360deg)
                        
                        

        
                
            